/* =======================================
BASIC STYLES
======================================= */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "helvetica", sans-serif;
  background-color: var(--pearl);
  color: var(--black);
  /* line-height: 1.6; */
  min-height: 100vh;
  margin-top: 5.5rem;
  margin-left: 10%;
  margin-right: 10%;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 5rem; /* Adjust this value based on the height of your nav bar */
}

:root {
    --black: #292727;
	--grey: #9b978ce7;
    --green: #62684f;
    --tan: #bbaea1;
    --pearl: #EDE9DD;
    --white: #f5f5f5;
}


/* =================
HEADER + NAVIGATION
==================== */
header {
    position: fixed;
	padding: 1rem;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly; /* Ensures items start from the left */
	margin: auto;
	z-index: 1000; /* Ensures the header is above other content */
	background: #EDE9DD;
	background: linear-gradient(180deg, rgba(237, 233, 221, 1) 26%, rgba(87, 199, 133, 0) 100%);
}

header nav {
	/* margin-top: 1.5rem; */
    display: flex;
    align-items: center;
	background-color: var(--white);
	border-radius: 3rem;
	height: 4rem;
	width: 50%;
	box-shadow: 0 1px 10px rgba(43, 43, 43, 0.09);
	justify-content: space-evenly; /* Ensures items start from the left */
}

header ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

header li {
    font-size: 1rem;
	margin: 0 2rem;
}

header li a {
    text-decoration: none;
    color: var(--grey);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    transition: color 0.3s ease;
}

header li a:hover {
    text-decoration: underline;
}

.logo {
    height: 5rem;
    padding: 5px;
}

.avatar {
    height: 25rem;
    width: 25rem;
    border-radius: 50%;
    transition: all 0.3s ease;
}

.avatar:hover {
  transform: scale(1.1);
}

/* =================
SECTIONS 
==================== */
section {
    padding: 4rem 2rem;
    min-height: 80vh; /* Reduce the default minimum height */
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 2rem;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    margin: auto;
	position: relative;

}

#hero-section {
    display: block;
    flex-direction: column;
    align-items: center;
}

.hero-content {
    text-align: left;
    margin: auto;
    flex: 1;
    min-width: 300px;
}

.hero-content h2 {
	font-family: argent-pixel-cf, sans-serif;
	font-style: normal;
	font-weight: 400;
}
.hero-content h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.hero-content h1 {
    font-size: 6rem;
    margin-bottom: 1rem;
}

.hero-content .fa {
    font-size: 2rem;
    margin: 1rem;
    transition: all 0.3s ease;
    color: var(--black);
}

.hero-content .fa:hover {
    color: var(--green);
    transform: scale(1.2);
    cursor: pointer;
}

.hero-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap; /* allows better responsiveness */
}

.hero-image {
  flex-shrink: 0;
}


.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

#about-section,
#skills-section,
#project-section {
    display: block;
    flex-direction: column;
    align-items: center;
}

#about-section p {
    font-size: 1rem;
    line-height: 1.75;
}

/* =================
BUTTONS
==================== */
.btn {
  border-radius: 10px;
  padding: 5px;
  font-size: 1rem;
  justify-content: space-evenly;
  margin: 5px;
}

.btn .btn-border {
  color: var(--black);
  border: 1px solid var(--black);
}

.btn .btn-green {
  background-color: var(--green);
  color: var(--pearl);
}

/* =================
PROJECTS
==================== */
.project-filters {
  display: flex;
  width: 100%;
  margin: 1rem 4rem 1rem 0;
  align-items: center;
  color: var(--grey);
  font-size: 1em;
  justify-content: space-between;
  cursor: pointer;
  transition: color 0.5s ease;
}

.project-filters h3:hover{
	color: var(--black);
}

/* =================
GRIDS
==================== */
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  gap: 2rem;
}

.grid {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--white);
    background-color: var(--white);
    border-radius: 10px;
    padding: 1rem;
}

.skills-layout {
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
    margin-bottom: 1rem;
}

/* =================
IMAGE STACK
==================== */

.image-stack {
  position: relative;
  width: 30rem;
  height: 30rem;
  margin: auto;
}

.image-stack img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0;
  animation: stackCycle 9s infinite;
}

/* Delay each image for the cycle effect */
.image-stack img:nth-child(1) {
  animation-delay: 0s;
}
.image-stack img:nth-child(2) {
  animation-delay: 3s;
}
.image-stack img:nth-child(3) {
  animation-delay: 6s;
}

@keyframes stackCycle {
  0% {
    opacity: 0;
    z-index: 1;
  }
  8% {
    opacity: 1;
    z-index: 2;
  }
  33.33% {
    opacity: 1;
    z-index: 2;
  }
  41.67% {
    opacity: 0;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: 1;
  }
}
